@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --pale_blue: hsl(225, 100%, 94%);
    --bright_blue: hsl(245, 75%, 52%);
    --very_pale_blue: hsl(225, 100%, 98%);
    --desaturated_blue: hsl(224, 23%, 55%);
    --dark_blue: hsl(223, 47%, 23%);
    --white: hsl(0, 0%, 100%);
    --hover: hsl(245, 75%, 70%);
}

body {
    background: var(--pale_blue) url('images/pattern-background-desktop.svg') center top repeat-x;
    font-family: Red Hat Display, sans-serif;
    font-size: 16px;
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    width: 375px;
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: 0px 10px 20px hsl(230, 65%, 85%);
}

.card_body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    color: var(--dark_blue);
    font-size: 23px;
    font-weight: 900;
    margin: 10px 0px 0px;
}

h2 {
    color: var(--dark_blue);
    font-size: 14px;
    font-weight: 900;
}

p {
    color: var(--desaturated_blue);
    font-weight: 500;
    text-align: center;
}

#card_hero {
    max-width: 100%;
    width: 375px;
    height: auto;
    border-radius: 15px 15px 0px 0px;
}

.card_plan {
    display: inherit;
    flex-direction: row;
    padding: 18px 30px;
    margin: 0px 0px 10px;
    border-radius: 15px;
    background: var(--very_pale_blue);
}

.plan {
    display: flex;
    flex-direction: column;
    line-height: 0px;
    padding: 0px 50px 0px 20px;
}

.card_plan p {
    font-weight: 700;
    font-size: 13px;
}

#intro {
    line-height: 25px;
    padding: 0px 30px;
    margin: 20px 0px;
}

#change {
    text-decoration: underline;
    color: var(--bright_blue);
    font-weight: 900;
}

#change:hover {
    text-decoration: none;
    color: var(--hover);
}

#cancel {
    margin: 5px 0px 10px;
    font-weight: 900;
}

#cancel:hover {
    color: var(--dark_blue);
}

#card_music-icon {
    width: auto;
    height: 50px;
}

#card_pay-button {
    background-color: var(--bright_blue);
    color: var(--white);
    padding: 15px 75px;
    white-space: nowrap;
    border-radius: 15px;
    font-weight: 700;
    text-align: left;
    box-shadow: 0px 20px 10px hsl(250, 100%, 94%);
}

#card_pay-button:hover {
    background-color: var(--hover);
}